{% extends 'base.html.twig' %}

{% block body %}
    <div class="card mt-5">
        <div class="card-header">
            Create new address
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}

                <a class="btn btn-sm btn-secondary" href="{{ path('homepage') }}">Back to the list</a>
                <input class="btn btn-sm btn-success" type="submit" value="Create" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
